fastapi
uvicorn[standard]
python-dotenv
pydantic
sqlalchemy
psycopg2-binary

presidio-analyzer
presidio-anonymizer

spacy

gliner

transformers
torch

pymupdf
pandas
numpy

python-multipart

redis
celery

reportlab

httpx

pytest